.git
.gitignore
.claude

backend/.env
backend/venv
backend/.idea
backend/__pycache__
backend/**/__pycache__
backend/.pytest_cache
backend/logs

vue/.env
vue/node_modules
vue/dist
vue/.idea
vue/.vscode

logs
*.log
